<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plataforma de Ideias</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav id="navbar">
      <div class="nav-brand">
        <h2>Plataforma de Ideias</h2>
      </div>
      <ul>
        <li><a href="/">Lista de Ideias</a></li>
        <li><a href="/suasIdeias">Suas Ideias</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>