<link rel="stylesheet" href="/css/login.css">

<div class="login-container">
  <div class="login-card">
    <h2>Bem-vindo 👋</h2>

    <button class="btn btn-primary" onclick="openModal('loginModal')">
      Entrar
    </button>

    <p class="text-info">Não possui cadastro?</p>

    <button class="btn btn-info" onclick="openModal('registerModal')">
      Criar conta
    </button>

    {{#if error}}
      <p class="message error">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="message success">{{success}}</p>
    {{/if}}
  </div>

  {{> loginModal}}
  {{> registerModal}}
</div>
